* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: abel;
  src: url(../fonts/Abel-Regular.woff);
}
@font-face {
  font-family: archivo;
  src: url(../fonts/Archivo-Regular.woff);
}
@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  margin: 10px;
}
h1 {
  font-family: archivo;
  font-size: 2rem;
  text-align: center;
  margin: 1em auto;
  padding: 0.5em 0;
  width: clamp(15ch, 50%, 600px);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
nav {
  background-color: #333;
  padding: 0.2em;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: #ddd;
  font-family: abel;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  height: 3rem;
  margin: 1rem 0;
  margin-top: auto;
  padding: 1em;
  p {
    color: #ccc;
    font-family: nunito;
    font-size: 0.8em;
    font-weight: 200;
  }
  a {
    color: #e1dede;
  }
  a:hover {
    color: #f5f4f4;
  }
}
